<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- https://github.com/spring-projects/spring-boot/blob/main/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr([%thread]){magenta} %clr(%-5level) %clr(%logger{36}){cyan} - %clr(%msg%n){faint}</pattern>
      <!--<pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
    </encoder>
  </appender>

  <logger name="org.mklinkj" level="DEBUG"/>

  <!-- JPA 쿼리 생성 / 파라미터 확인 -->
  <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
  <logger name="org.hibernate.orm.jdbc.extract" level="TRACE"/>

  <logger name="org.hibernate.engine.transaction" level="DEBUG"/>

  <logger name="org.springframework.security" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>